@use './sass/shared' as *;
@use './sass/base';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    justify-self: center;
    align-items: center;
    margin: auto;
}