.form-control {
    float: left;
    position: relative;

    .sortby-wrapper {
      button {
        border: 1px solid #d4d4d4;
        background-color: #f4f4f4;
        padding: 0 0.5rem;
        line-height: 2.5rem;
        cursor: pointer;
      }
    }

    .sortby-wrapper {
      position: relative;
    }
}